<title>商品列表</title>

<script type="text/html" template>
  <link rel="stylesheet" href="{{ layui.setter.paths.base }}style/template.css?v={{ layui.admin.v }}" media="all">
</script>


<div class="layui-fluid layadmin-cmdlist-fluid">
  <div class="layui-row layui-col-space30">
    <div class="layui-col-md4">
      <div class="layui-row" style="padding: 0 1%">
        <img style="width:100%" class="h-img"
          src="https://cdn.discordapp.com/attachments/1109090103432855724/1110403444130463774/wsy_3832102065499028__777efeeb-2c63-497e-af4e-670ae47b2436.png">
      </div>
      <div class="layui-row" style="padding: 2% 1%">
        <div class="layui-card">
          <div class="layui-card-body layui-row layui-col-space10">
            <div class="layui-col-md12">
              <textarea name="" placeholder="请输入" class="layui-textarea"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="layui-col-md8">
      <div class="layui-col-md3 layui-col-sm4">
        <div class="cmdlist-container">
          <a href="javascript:;">
            <script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/portrait.png">
                </script>
          </a>
          <a href="javascript:;">
            <div class="cmdlist-text">
              <p class="info">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
              <div class="price">
                <b>￥79</b>
                <p>
                  ¥
                  <del>130</del>
                </p>
                <span class="flow">
                  <i class="layui-icon layui-icon-rate"></i>
                  433
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="layui-col-md3 layui-col-sm4">
        <div class="cmdlist-container">
          <a href="javascript:;">
            <script type="text/html"
              template><img src="{{ layui.setter.paths.base }}style/imgs/template/portrait.png"></script>
          </a>
          <a href="javascript:;">
            <div class="cmdlist-text">
              <p class="info">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
              <div class="price">
                <b>￥79</b>
                <p>
                  ¥
                  <del>130</del>
                </p>
                <span class="flow">
                  <i class="layui-icon layui-icon-rate"></i>
                  433
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="layui-col-md3 layui-col-sm4">
        <div class="cmdlist-container">
          <a href="javascript:;">
            <script type="text/html"
              template><img src="{{ layui.setter.paths.base }}style/imgs/template/portrait.png"></script>
          </a>
          <a href="javascript:;">
            <div class="cmdlist-text">
              <p class="info">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
              <div class="price">
                <b>￥79</b>
                <p>
                  ¥
                  <del>130</del>
                </p>
                <span class="flow">
                  <i class="layui-icon layui-icon-rate"></i>
                  433
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="layui-col-md3 layui-col-sm4">
        <div class="cmdlist-container">
          <a href="javascript:;">
            <script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/portrait.png">
                </script>
          </a>
          <a href="javascript:;">
            <div class="cmdlist-text">
              <p class="info">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
              <div class="price">
                <b>￥79</b>
                <p>
                  ¥
                  <del>130</del>
                </p>
                <span class="flow">
                  <i class="layui-icon layui-icon-rate"></i>
                  433
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="layui-col-md3 layui-col-sm4">
        <div class="cmdlist-container">
          <a href="javascript:;">
            <script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/portrait.png">
                </script>
          </a>
          <a href="javascript:;">
            <div class="cmdlist-text">
              <p class="info">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
              <div class="price">
                <b>￥79</b>
                <p>
                  ¥
                  <del>130</del>
                </p>
                <span class="flow">
                  <i class="layui-icon layui-icon-rate"></i>
                  433
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="layui-col-md3 layui-col-sm4">
        <div class="cmdlist-container">
          <a href="javascript:;">
            <script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/portrait.png">
                </script>
          </a>
          <a href="javascript:;">
            <div class="cmdlist-text">
              <p class="info">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
              <div class="price">
                <b>￥79</b>
                <p>
                  ¥
                  <del>130</del>
                </p>
                <span class="flow">
                  <i class="layui-icon layui-icon-rate"></i>
                  433
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="layui-col-md3 layui-col-sm4">
        <div class="cmdlist-container">
          <a href="javascript:;">
            <script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/portrait.png">
                </script>
          </a>
          <a href="javascript:;">
            <div class="cmdlist-text">
              <p class="info">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
              <div class="price">
                <b>￥79</b>
                <p>
                  ¥
                  <del>130</del>
                </p>
                <span class="flow">
                  <i class="layui-icon layui-icon-rate"></i>
                  433
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="layui-col-md3 layui-col-sm4">
        <div class="cmdlist-container">
          <a href="javascript:;">
            <script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/portrait.png">
                </script>
          </a>
          <a href="javascript:;">
            <div class="cmdlist-text">
              <p class="info">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
              <div class="price">
                <b>￥79</b>
                <p>
                  ¥
                  <del>130</del>
                </p>
                <span class="flow">
                  <i class="layui-icon layui-icon-rate"></i>
                  433
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="layui-col-md3 layui-col-sm4">
        <div class="cmdlist-container">
          <a href="javascript:;">
            <script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/portrait.png">
                </script>
          </a>
          <a href="javascript:;">
            <div class="cmdlist-text">
              <p class="info">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
              <div class="price">
                <b>￥79</b>
                <p>
                  ¥
                  <del>130</del>
                </p>
                <span class="flow">
                  <i class="layui-icon layui-icon-rate"></i>
                  433
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="layui-col-md3 layui-col-sm4">
        <div class="cmdlist-container">
          <a href="javascript:;">
            <script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/portrait.png">
                </script>
          </a>
          <a href="javascript:;">
            <div class="cmdlist-text">
              <p class="info">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
              <div class="price">
                <b>￥79</b>
                <p>
                  ¥
                  <del>130</del>
                </p>
                <span class="flow">
                  <i class="layui-icon layui-icon-rate"></i>
                  433
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="layui-col-md3 layui-col-sm4">
        <div class="cmdlist-container">
          <a href="javascript:;">
            <script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/portrait.png">
                </script>
          </a>
          <a href="javascript:;">
            <div class="cmdlist-text">
              <p class="info">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
              <div class="price">
                <b>￥79</b>
                <p>
                  ¥
                  <del>130</del>
                </p>
                <span class="flow">
                  <i class="layui-icon layui-icon-rate"></i>
                  433
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="layui-col-md3 layui-col-sm4">
        <div class="cmdlist-container">
          <a href="javascript:;">
            <script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/portrait.png">
                </script>
          </a>
          <a href="javascript:;">
            <div class="cmdlist-text">
              <p class="info">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
              <div class="price">
                <b>￥79</b>
                <p>
                  ¥
                  <del>130</del>
                </p>
                <span class="flow">
                  <i class="layui-icon layui-icon-rate"></i>
                  433
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>



  </div>
</div>

<script>
  layui.use(['admin', 'laypage', 'layer'], function () {
  });
</script>